:root {
  --black: #000000;
  --white: #dddddd;
  --font-weight: 400;
  --font-size: 18px;
}

body {
  margin: 0px;
  padding: 2rem;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

