.main {
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.frame {
  width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
  border-radius: 16px;
  padding: 2rem;
  gap: 2rem;
  background-color: #ffffff;
}

  .frame > div {
    font-size: 26px;
  }

.bar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 200px;
  padding: 2rem;
}

.barItem {
  text-align: left;
  padding-top: 12px;
}

.button {
  width: 200px;
  height: auto;
  background-color: var(--black);
  color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.button:hover {
  background-color: #505050;
  transition: ease-in-out 0.1s;
}

.button::selection {
  text-decoration: none;
}

@media screen and (max-width: 1360px) {
  .main {
    width: 720px;
  }
  .frame {
    width: 720px;
  }
}

@media screen and (max-width: 820px) {
  .main {
    width: 320px;
    flex-direction: column;
    padding-top: 0px;
  }
  .frame {
    width: 320px;
    grid-template-columns: auto auto;
  }
  .frame > div {
    font-size: 16px;
  }
  .barItem {
    display: none;
  }
  .button {
    width: 320px;
  }
}

@media screen and (max-width: 340px) {
  .main {
    width: 220px;
    flex-direction: column;
    padding-top: 0px;
  }
  .frame {
    width: 220px;
    grid-template-columns: auto;
  }
  .frame > div {
    font-size: 16px;
  }
  .barItem {
    display: none;
  }
  .button {
    width: 220px;
  }
}