.main {
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.frame {
  width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
  border-radius: 16px;
  padding: 2rem;
  gap: 2rem;
  background-color: #ffffff;
}

  .frame > div {
    font-size: 26px;
  }

.bar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 200px;
  padding: 2rem;
}

.button {
  width: 200px;
  height: auto;
  background-color: var(--black);
  color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.button:hover {
  background-color: #505050;
  transition: ease-in-out 0.1s;
}

.button::selection {
  text-decoration: none;
}